@import '@designsystem-se/af/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@designsystem-se/af/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

:root {
  padding: 0;
  
  body {
    margin: 0;
  }
}
.digi-logo__img.sc-digi-logo {
  display: none !important;
}